.content-page {
	padding: 21px 12px 2px 12px;
}
.navbar-custom {
	background-color: #fff;
}
.action-btn {
	padding: 5px 17px;
	display: inline-block;
	margin: 0 6px;
	border-radius: 3px;
	color: #fff;
	font-size: 17px;
}
.action-btn:hover {
	color: #fff;
}
.edit-btn {
	background: #7dbcf9;
}
.delete-btn {
	background: #f43838;
}
.form_error {
	color: #ff0000;
	font-size: 14px;
	margin-top: 6px;
}
.ajax-loader {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 99999999;
}
.ajax-loader .loader {
    border: 4px solid #8c8d8d;
    border-radius: 50%;
    border-top: 4px solid #012243;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}